
/* Header */
header {
    background-color: black;
    color: white;
    width: 100%;
    box-shadow: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
header a {
    text-decoration: none;
    color: inherit;
}


/* Body */
body {
}

#hero {
    background-image: url('https://images.unsplash.com/photo-1621878135994-8b56a55d4af5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bWFsdGVzZSUyMGRvZ3xlbnwwfHwwfHx8MA%3D%3D');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: relative;
}
 .circle {
    width: 400px;
    height: 400px;
    margin: 10% auto;
    border-radius: 50%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.712);
}     
.content {
    position: top left;
    width: inherit;
    height: auto;
    top: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;


}


/* Main Content */
main {
    color: white;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}


 
   
  


/* Footer */
#social-networks {
        background-color: black;
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        margin-top: auto
    }
#social-networks i {
        font-size: 160%;
        padding: 5%;
        color: white;
    }