
/* Header */
header {
    background-color: black;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 110%;
    box-shadow: 0 2px 2px:  whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {
    text-decoration: none;
    color: inherit;
}
#menu {
    display: flex
}


body {
    background-image: url(

/* Main Content */
main {
    
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}


/* Footer */

#social-networks {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        margin-top: auto
    }
#social-networks i {
        font-size: 160%;
        padding: 5%;
        color:#3a3a3a;
    }